In [ ]:
#dataset conjunto de datos(por ejemplo csv, txt)

import pandas as pd

path = r'/Users/okashi/Desktop/Electric_Vehicle_Population.csv'

file = pd.read_csv(path, sep=',')
df = pd.DataFrame(file)
df

In [ ]:
#registros duplicados
df.duplicated().sum()
#duplicadas = df2.loc[df2.duplicated()]
#para borrar los duplicados df = df.drop_duplicates() print(df)

In [8]:
#obtener informaci√≥n del archivo
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130443 entries, 0 to 130442
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         130443 non-null  object
 1   County                                             130440 non-null  object
 2   City                                               130440 non-null  object
 3   State                                              130443 non-null  object
 4   Postal Code                                        130440 non-null  float64
 5   Model Year                                         130443 non-null  int64
 6   Make                                               130443 non-null  object
 7   Model                                              130221 non-null  object
 8   Electric Vehicle Type                              130443 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  130443 non-null  object
 10  Electric Range                                     130443 non-null  int64
 11  Base MSRP                                          130443 non-null  int64
 12  Legislative District                               130138 non-null  float64
 13  DOL Vehicle ID                                     130443 non-null  int64
 14  Vehicle Location                                   130410 non-null  object
 15  Electric Utility                                   130440 non-null  object
 16  2020 Census Tract                                  130440 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 16.9+ MB

In [9]:
#para detectar valores fuera de rango
df.describe()

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,130440.000000,130443.000000,130443.000000,130443.000000,130138.000000,1.304430e+05,1.304400e+05
mean,98167.633878,2019.554633,76.705718,1495.677346,29.577026,2.051796e+08,5.297177e+10
std,2492.197784,2.989137,99.421571,9844.748414,14.767508,8.710573e+07,1.640658e+09
min,1730.000000,1997.000000,0.000000,0.000000,1.000000,4.385000e+03,1.081042e+09
25%,98052.000000,2018.000000,0.000000,0.000000,18.000000,1.568004e+08,5.303301e+10
50%,98121.000000,2020.000000,23.000000,0.000000,34.000000,2.034934e+08,5.303303e+10
75%,98370.000000,2022.000000,151.000000,0.000000,43.000000,2.290791e+08,5.305307e+10
max,99701.000000,2023.000000,337.000000,845000.000000,49.000000,4.792548e+08,5.603300e+10

In [12]:
#df.isnull()
#nulos = df2[df2.isnull().any(axis=1)
df.isnull().sum()

VIN (1-10)                                             0
County                                                 3
City                                                   3
State                                                  0
Postal Code                                            3
Model Year                                             0
Make                                                   0
Model                                                222
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 305
DOL Vehicle ID                                         0
Vehicle Location                                      33
Electric Utility                                       3
2020 Census Tract                                      3
dtype: int64

In [ ]:
df[df['Make']=='VOLVO']

In [ ]:
df.sort_values(['Model'], na_position='last').tail(222)

In [20]:
df['Make'].unique()

array(['TESLA', 'HONDA', 'NISSAN', 'FORD', 'AUDI', 'KIA', 'CHEVROLET',
       'SMART', 'BMW', 'TOYOTA', 'JEEP', 'FIAT', 'VOLVO', 'CHRYSLER',
       'LEXUS', 'PORSCHE', 'CADILLAC', 'HYUNDAI', 'MERCEDES-BENZ',
       'RIVIAN', 'VOLKSWAGEN', 'JAGUAR', 'LINCOLN', 'MITSUBISHI', 'MINI',
       'POLESTAR', 'GENESIS', 'SUBARU', 'LUCID', 'TH!NK', 'LAND ROVER',
       'FISKER', 'AZURE DYNAMICS', 'WHEEGO ELECTRIC CARS', 'BENTLEY'],
      dtype=object)

In [21]:
df.sort_values(['City'], na_position='last').tail(3)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
102,1N4AZ0CP1D,NaN,NaN,AP,NaN,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,NaN,112277063,NaN,NaN,NaN
103,5YJ3E1EA5K,NaN,NaN,BC,NaN,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,NaN,475254825,NaN,NaN,NaN
127670,5YJRE11B48,NaN,NaN,BC,NaN,2008,TESLA,ROADSTER,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,98950,NaN,143609049,NaN,NaN,NaN

In [25]:
'''Ejercicio 3.10.1.
Dado el CSV, World_Development_Report_2021.csv, compartido por el tutor en este foro, crea un dataframe con los datos contenidos en √©l e indica cu√°l es el tipo de las variables que contiene'''

import pandas as pd

path = r'/Users/okashi/Desktop/World_Development_Report_2021.csv'

data = pd.read_csv(path,sep=',')

df1 = pd.DataFrame(data)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   census_round  25 non-null     int64
 1   counted       20 non-null     float64
 2   population    20 non-null     float64
 3   percentage    20 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 1000.0 bytes

In [29]:
'''Ejercicio 3.10.2.
Utilizando el dataframe que has creado en el ejercicio anterior, indica si hay filas duplicadas y, en ese caso, cu√°ntas hay.'''

df1.duplicated().sum()

3

In [35]:
'''Ejercicio 3.10.3.
En el caso de que hayas detectado filas duplicadas, elim√≠nalas y guarda los resultados en el mismo dataframe en el que est√°s trabajando. 
Despu√©s de hacerlo, comprueba que ya no hay filas duplicadas.'''
#df.drop(columns=['Cabin'], inplace=True) # Machacamos el propio DataFrame

df1 = df1.drop_duplicates() # Machacamos el propio DataFrame
df1.duplicated().sum()

0

In [41]:
'''Ejercicio 3.10.4.
En el dataframe con el que estamos trabajando, ¬øhay alguna variable con elementos nulos? Y en el caso de que as√≠ sea, ¬øqu√© variables son y cu√°ntos nulos tiene cada una de ellas?'''

nulos = df1.isnull().sum()
nulos

census_round    0
counted         5
population      5
percentage      5
dtype: int64

In [48]:
'''Ejercicio 3.10.5.
Utilizando el mismo dataframe que en los ejercicios anteriores, y teniendo en cuenta la variable percentage, ¬øcu√°les son el valor m√°ximo, el valor m√≠nimo y la media de dicha variable?'''

#df['percentage'].agg(['max', 'min', 'mean'])
print ('Valor m√°ximo:', round(df1['percentage'].max(),2))
print ('Valor m√≠nimo:', round(df1['percentage'].min(),2))
print ('Media:', round(df1['percentage'].mean(),2))

Valor m√°ximo: 0.94
Valor m√≠nimo: 0.11
Media: 0.57

In [49]:
'''Ejercicio 3.10.6.
¬øHay en el dataframe con el que estamos trabajando alg√∫n valor fuera de rango?'''

rango = df1.describe()
rango

       census_round       counted    population  percentage
count     22.000000  1.700000e+01  1.700000e+01   17.000000
mean    1924.545455  2.041384e+06  2.867139e+06    0.568544
std       54.048239  1.994068e+06  1.813896e+06    0.298381
min     1850.000000  1.431752e+05  1.263000e+06    0.113361
25%     1876.250000  5.902842e+05  1.539000e+06    0.383550
50%     1917.500000  1.219978e+06  2.092000e+06    0.582897
75%     1967.500000  2.841216e+06  3.700437e+06    0.875078
max     2020.000000  6.285893e+06  6.956824e+06    0.936166

In [62]:
'''Ejercicio 3.10.8.
Obt√©n las frecuencias de las variables counted, population y percentage. ¬øLas frecuencias son superiores al 2-5 %?'''

print ('Frecuencia counted:\n', round(df1['counted'].value_counts(normalize=True),2))
print ('Frecuencia population:\n', round(df1['population'].value_counts(normalize=True),2))
print ('Frecuencia percentage:\n', round(df1['percentage'].value_counts(normalize=True),2))

Frecuencia counted:
 143175.215     0.06
1344743.136    0.06
5376035.445    0.06
4880156.639    0.06
4119390.412    0.06
2637922.891    0.06
2841216.477    0.06
2082008.562    0.06
1219977.778    0.06
175675.741     0.06
869979.886     0.06
774478.111     0.06
841115.512     0.06
590284.215     0.06
293236.836     0.06
228235.621     0.06
6285892.692    0.06
Name: counted, dtype: float64
Frecuencia population:
 1263000.000    0.06
2307000.000    0.06
6143493.823    0.06
5327231.061    0.06
4458003.514    0.06
3700437.046    0.06
3034949.748    0.06
2536431.149    0.06
2092000.000    0.06
1289000.000    0.06
1912000.000    0.06
1777000.000    0.06
1654000.000    0.06
1539000.000    0.06
1420000.000    0.06
1331000.000    0.06
6956823.603    0.06
Name: population, dtype: float64
Frecuencia percentage:
 0.113361    0.06
0.582897    0.06
0.875078    0.06
0.916078    0.06
0.924044    0.06
0.712868    0.06
0.936166    0.06
0.820842    0.06
0.583163    0.06
0.136288    0.06
0.455010    0.06
0.435835    0.06
0.508534    0.06
0.383550    0.06
0.206505    0.06
0.171477    0.06
0.903558    0.06
Name: percentage, dtype: float64

In [64]:
df1

    census_round      counted   population  percentage
1           1850   143175.215  1263000.000    0.113361
2           1855          NaN          NaN         NaN
3           1860   175675.741  1289000.000    0.136288
4           1865          NaN          NaN         NaN
5           1870   228235.621  1331000.000    0.171477
6           1875          NaN          NaN         NaN
7           1880   293236.836  1420000.000    0.206505
8           1890   590284.215  1539000.000    0.383550
9           1900   841115.512  1654000.000    0.508534
10          1910   774478.111  1777000.000    0.435835
11          1915          NaN          NaN         NaN
12          1920   869979.886  1912000.000    0.455010
13          1930  1219977.778  2092000.000    0.583163
14          1940  1344743.136  2307000.000    0.582897
16          1950  2082008.562  2536431.149    0.820842
17          1960  2841216.477  3034949.748    0.936166
18          1970  2637922.891  3700437.046    0.712868
20          1980  4119390.412  4458003.514    0.924044
21          1990  4880156.639  5327231.061    0.916078
22          2000  5376035.445  6143493.823    0.875078
23          2010  6285892.692  6956823.603    0.903558
25          2020          NaN          NaN         NaN

In [ ]:
~is